<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surya</title>
</head>
<body>

<button type="button" class="btn btn-primary"><a href="/question-answering/" id="question-answering">Question-Answering</a></button>
<br>
<button type="button" class="btn btn-primary"><a href="/masked-word/" id="masked-word">Masked-Word Recognition</a></button><br>
<button type="button" class="btn btn-primary"><a href="/summarization/" id="summarization">Summarization</a></button><br>
<button type="button" class="btn btn-primary"><a href="/sentiment-analysis/" id="sentiment-analysis">Sentiment-Analysis</a></button><br>
<button type="button" class="btn btn-primary"><a href="/zero-shot-classification/" id="zero-shot-classification">zero-shot-classification</a></button><br>
<button type="button" class="btn btn-primary"><a href="/text-generation/" id="text-generation">text-generation</a></button><br>
<button type="button" class="btn btn-primary"><a href="/ner/" id="ner">Named-Entity-Recognition</a></button><br>
<button type="button" class="btn btn-primary"><a href="/translation/" id="translation">Language-Translation</a></button><br>


</body>
</html>