<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Answering</title>
</head>
<body>
<form action="/question-answering/" method="post">
    {% csrf_token %}
    <h1> Question-Answering NLP Task:</h1>
    <label for="sentence">Enter your sentence: </label>
    <textarea id="sentence" name="sentence" rows="4" cols="50"></textarea>
    <br>
    <label for="question">Enter your Question: </label>
    <input id="question" type="text" name="question" value="{{ answer }}">
    <input type="submit" value="OK">

</form>
{% if form %}
    <p>{{ form }}</p>
{% endif %}

</body>
</html>